/* 
    Réalisé par Nazaire DARBOUX
 */

body {
  width: 80vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav li {
  margin: 0 10px 0 20px;
}

li a {
  text-decoration: none;
}

/* MAIN */

/* Banner */

#banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#banner {
  position: relative;
}

#banner-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner-content img {
  height: 40px;
}

h1 {
  color: aliceblue;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 15px;
}

/* SECTION PRESENTATION */

#presentation-p {
  max-width: 70%;
  margin: 32px 0;
}

#presentation-content {
  max-width: 70%;
  display: flex;
}

#citation {
  max-width: 60%;
  margin-top: 30px;
}

#presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-content h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.section-content {
  padding: 10px;
}

.section-content p {
  font-size: 12px;
}
